<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <li class="list-group-item">
        </li>
      </ul>
      <div *ngIf="onlyOdd">
        Only Odd With Star
      </div>
      <ng-template [ngIf]="onlyOdd">
        <p>Only Odd</p>
      </ng-template>
      <ng-template [appUnless]="onlyOdd">
        <p>Only Even</p>
      </ng-template>
      <p basicHighlight> I'm a basic hightlight yo! </p>
      <p betterHighlight [mouseOverColor] = "'yellow'" [mouseLeaveColor] = "'cyan'"> I'm a better highlight yo! </p>
    </div>
  </div>
</div>